header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);

    .logo {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--text-color);
    }

    .material-symbols-outlined {
        @include buttonIconStyle();
    }
}